.img{
  &-avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: $primary-size;
    max-width: 100%; 
    max-height: 100%;
  }
  
  &-frame{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: $primary-size;
    max-width: 100%;
    padding: 13px;
    border: $one-px-size solid $very-light-grey;
  }

  &-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@include media-query($tablet-desktop-view){
  .logo {
    margin-left: initial;
    margin-right: initial;
  }
}